body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 2%;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #434455;                    /* Regular = 400 */
    font-size: 12px;                       /* Розмір шрифту */
    line-height: 1.333;                    /* 16px / 12px = 1.333 */
    letter-spacing: 4%;
}

a:hover,
a:focus{
    color: #404BBF;
    text-decoration: underline;
}

button{
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 4%;
    background-color: #4D5AE5;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover,
button:focus{
    background-color: #404BBF;
}

header {
  padding: 20px 40px;
  border-bottom: 1px solid #e4e4e4;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #2E2F42;
}

.logo:hover {
  text-decoration: none;
}

.logo span {
  color: #4D5AE5;
}

.menu_nav {
  display: flex;
  gap: 20px;
}

.contacts {
  display: flex;
  gap: 24px;
}

.hero {
  background-color: #2e2f42;
  color: #fff;
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 20px;
}

h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

p {   
    margin-bottom: 20px;    
}

.services {
  padding: 60px 40px;
}

.services ul{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service{
  width: calc(25% - 24px);    
}

.team {
  padding: 60px 40px;
  background-color: #f4f4fd;
  text-align: center;
}

.team ul,
.portfolio ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.member {
  padding: 20px;
  width: calc(25% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member img {
  width: 100%;
  margin-bottom: 15px;
}

footer {
  background-color: #2e2f42;
  color: #e7e9fc;
  text-align: left;
  padding: 40px;
}

footer .logo {
  color: #e7e9fc;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer p {
  max-width: 300px;
}
